body{
    scroll-behavior:smooth;
}
#row1{
    display: inline;
}
#School_name{
    margin-right:200px;
    margin-top:60px;
    Color:rgb(176, 202, 26);
    text-align:center;
    font-variant:small-caps;
    font-size: 40px;
    z-index: 1;
}
.School_data2{
    font-size: 25px;
    margin-left: 20px;
}
#School_name_column{
    float: right;
}
#School_img{
    margin-left:100px;
    margin-top:50px;
    padding-right:80px ;
    border-right:1px solid gray;
}
#School_data3{
    font-size: 30px;
    color: rgb(134, 14, 14);
    margin-left: 50px;
}
.School_data4{
    font-size: 25px;
    margin-left: 150px;
}
#SPHS{
    color: yellow;
}
.line{
    width: 1200px;
    background-color: rgb(255, 251, 9);
    height: 04px;
    margin-top: 20px;
}
#Contact_area{
    background-color: rgb(223, 223, 8);
    border:brown 3px solid;
    width: 1500px;
}
#map{
    border:5px whitesmoke solid;
    margin-top: 50px;
}
#principal-logo{
    float: left;
    margin-top:65px;
    margin-left:65px ;
    height: 350px;
}
#Principal_info{
    text-align: left;
}
.text1{
    font-size: 23px;
    font-weight: bold;
    margin-top: 100px;
    margin-left: 200px;
}
.text2{
    font-size: 23px;
    font-weight: bold;
    margin-left: 100px;
}
.travel_mainDiv{
    width:300px
}
.travel_mainDiv::after{
    content:"";
    clear: both;
    display:table;
}
.travel_mainDiv{
    border: 1px gray solid;
    width: 500px;
}
.travel_mainDiv img{
    margin-top: 20px;
    width:450px;
} 
.travel_mainDiv p{
    margin:10px;
}
.row1{
    border:1px solid gray;
}
#Camp_p, #School_Achive{
    margin-left: 30px;
}
#achivementID{
    padding-bottom: 10px;
}

.achivement-head{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom:15px ;
    width: 100%;
    display: inline-block;
}
.achivement-head i{
    float:right;
}
.achivement_text span{
    color: yellow;
}
.Ainfo{
    font-size: 22px;
}
.infoTitle{
    font-size: 25px;
    color: greenyellow;
}
.Online_li{
    border-radius: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    height: 350px;
}
.Ainfo2{
    font-size: 18px;
}
.Activities_li{
    background-color: rgb(238, 240, 155);
    border-radius: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    height: 400px;
    color:rgb(173, 157, 13);
}
.lib{
    margin-right: 800px;
    height: 500px;
}
.pg{
    margin-top:-540px;
    margin-left: 500px;
    height: 500px;
}
.chemlab{
    margin-right: 800px;
    height: 550px;
}
.audito{ 
    margin-top:-590px;
    margin-left: 500px;
    height: 550px;

}
.simg{
    height:300px;
    width: 250px;
}
.alumini{
    border:gray solid 5px;
    border-radius: 10px;
    background-color: white;
    padding-top: 20px;
    margin-left: 20px;
    margin-top: 20px;
    width: 500px;
    
}
.title2{
    font-size:"82px";
    margin: 20px;
    text-align:"center";
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-variant: small-caps;
}
.image{
    border: solid 3px gray;
    border-radius: 20px;
}
.line{
    height: 5px;
    background-color: yellow;
}
.book{
    cursor:pointer;
}
.book hr{
    margin-bottom: 10px;
}
.modal-content{
    margin-top: 300px;
}
.img_modal{
    display: inline-block;
    width: 400px;
    height: 280px;
}
.p_modal{
    margin: 30px;
    font-size: 20px;
    color: rgb(97, 97, 97);
}
.modal-body{
    text-align: center;
}
#cont_div{
    background-color: black;
    color:white;
    height: 900px;
    font-size: 30px;
}